select file_id, file_guid, size, max_size, growth, type, physical_name, substring(physical_name,1,3), ISNULL(CAST(state AS int), -3) AS state, data_space_id from sys.database_files   order by growth desc
