(@Date datetime)UPDATE CTPhatSinh
                                                SET    NgayVanChuyen = @Date
                                                WHERE  NgayVanChuyen IS NULL
                                                       AND DaVanChuyen = 0
