SELECT TOP 10 *  FROM 
                                            ((SELECT cs.MaThe13 as N'Mã thẻ 13', cs.NgayHD,
                                                       CONVERT(VARCHAR(20),cs.NgayHD,103) as N'Ngày mua',
                                                       cs.SoHD as N'Số HĐ',
                                                       cs.MaST as N'Mã ST',
                                                       cs.MaQuay as N'Mã quầy',
                                                       cs.TongTienHD as N'Tổng tiền',
                                                       cs.DiemMuaHang as N'Điểm mua hàng',
                                                       cs.DiemThuongTheoHD as N'Điểm thưởng',
                                                       cs.DaVanChuyen as N'Đã tính điểm'
                                              FROM CTPhatSinh01 cs WHERE MaThe13 = '5589232410849')
                                              UNION ALL 
                                            (SELECT cs.MaThe13 as N'Mã thẻ 13', cs.NgayHD,
                                                       CONVERT(VARCHAR(20),cs.NgayHD,103) as N'Ngày mua',
                                                       cs.SoHD as N'Số HĐ',
                                                       cs.MaST as N'Mã ST',
                                                       cs.MaQuay as N'Mã quầy',
                                                       cs.TongTienHD as N'Tổng tiền',
                                                       cs.DiemMuaHang as N'Điểm mua hàng',
                                                       cs.DiemThuongTheoHD as N'Điểm thưởng',
                                                       cs.DaVanChuyen as N'Đã tính điểm'
                                              FROM CTPhatSinh02 cs WHERE MaThe13 = '5589232410849')
                                                UNION ALL 
                                            (SELECT cs.MaThe13 as N'Mã thẻ 13', cs.NgayHD,
                                                       CONVERT(VARCHAR(20),cs.NgayHD,103) as N'Ngày mua',
                                                       cs.SoHD as N'Số HĐ',
                                                       cs.MaST as N'Mã ST',
                                                       cs.MaQuay as N'Mã quầy',
                                                       cs.TongTienHD as N'Tổng tiền',
                                                       cs.DiemMuaHang as N'Điểm mua hàng',
                                                       cs.DiemThuongTheoHD as N'Điểm thưởng',
                                                       cs.DaVanChuyen as N'Đã tính điểm'
                                              FROM CTPhatSinh03 cs WHERE MaThe13 = '5589232410849')
                                              UNION ALL 
                                            (SELECT cs.MaThe13 as N'Mã thẻ 13', cs.NgayHD,
                                                       CONVERT(VARCHAR(20),cs.NgayHD,103) as N'Ngày mua',
                                                       cs.SoHD as N'Số HĐ',
                                                       cs.MaST as N'Mã ST',
                                                       cs.MaQuay as N'Mã quầy',
                                                       cs.TongTienHD as N'Tổng tiền',
                                                       cs.DiemMuaHang as N'Điểm mua hàng',
                                                       cs.DiemThuongTheoHD as N'Điểm thưởng',
                                                       cs.DaVanChuyen as N'Đã tính điểm'
                                              FROM CTPhatSinh04 cs WHERE MaThe13 = '5589232410849')
                                                UNION ALL 
                                            (SELECT cs.MaThe13 as N'Mã thẻ 13', cs.NgayHD,
                                                       CONVERT(VARCHAR(20),cs.NgayHD,103) as N'Ngày mua',
                                                       cs.SoHD as N'Số HĐ',
                                                       cs.MaST as N'Mã ST',
                                                       cs.MaQuay as N'Mã quầy',
                                                       cs.TongTienHD as N'Tổng tiền',
                                                       cs.DiemMuaHang as N'Điểm mua hàng',
                                                       cs.DiemThuongTheoHD as N'Điểm thưởng',
                                                       cs.DaVanChuyen as N'Đã tính điểm'
                                              FROM CTPhatSinh05 cs WHERE MaThe13 = '5589232410849')
                                                UNION ALL 
                                            (SELECT cs.MaThe13 as N'Mã thẻ 13', cs.NgayHD,
                                                       CONVERT(VARCHAR(20),cs.NgayHD,103) as N'Ngày mua',
                                                       cs.SoHD as N'Số HĐ',
                                                       cs.MaST as N'Mã ST',
                                                       cs.MaQuay as N'Mã quầy',
                                                       cs.TongTienHD as N'Tổng tiền',
                                                       cs.DiemMuaHang as N'Điểm mua hàng',
                                                       cs.DiemThuongTheoHD as N'Điểm thưởng',
                                                       cs.DaVanChuyen as N'Đã tính điểm'
                                              FROM CTPhatSinh06 cs WHERE MaThe13 = '5589232410849')
                                                UNION ALL 
                                            (SELECT cs.MaThe13 as N'Mã thẻ 13', cs.NgayHD,
                                                       CONVERT(VARCHAR(20),cs.NgayHD,103) as N'Ngày mua',
                                                       cs.SoHD as N'Số HĐ',
                                                       cs.MaST as N'Mã ST',
                                                       cs.MaQuay as N'Mã quầy',
                                                       cs.TongTienHD as N'Tổng tiền',
                                                       cs.DiemMuaHang as N'Điểm mua hàng',
                                                       cs.DiemThuongTheoHD as N'Điểm thưởng',
                                                       cs.DaVanChuyen as N'Đã tính điểm'
                                              FROM CTPhatSinh07 cs WHERE MaThe13 = '5589232410849')
                                              UNION ALL 
                                            (SELECT cs.MaThe13 as N'Mã thẻ 13', cs.NgayHD,
                                                       CONVERT(VARCHAR(20),cs.NgayHD,103) as N'Ngày mua',
                                                       cs.SoHD as N'Số HĐ',
                                                       cs.MaST as N'Mã ST',
                                                       cs.MaQuay as N'Mã quầy',
                                                       cs.TongTienHD as N'Tổng tiền',
                                                       cs.DiemMuaHang as N'Điểm mua hàng',
                                                       cs.DiemThuongTheoHD as N'Điểm thưởng',
                                                       cs.DaVanChuyen as N'Đã tính điểm'
                                              FROM CTPhatSinh08 cs WHERE MaThe13 = '5589232410849')
                                                UNION ALL 
                                            (SELECT cs.MaThe13 as N'Mã thẻ 13', cs.NgayHD,
                                                       CONVERT(VARCHAR(20),cs.NgayHD,103) as N'Ngày mua',
                                                       cs.SoHD as N'Số HĐ',
                                                       cs.MaST as N'Mã ST',
                                                       cs.MaQuay as N'Mã quầy',
                                                       cs.TongTienHD as N'Tổng tiền',
                                                       cs.DiemMuaHang as N'Điểm mua hàng',
                                                       cs.DiemThuongTheoHD as N'Điểm thưởng',
                                                       cs.DaVanChuyen as N'Đã tính điểm'
                                              FROM CTPhatSinh09 cs WHERE MaThe13 = '5589232410849')
                                                UNION ALL 
                                            (SELECT cs.MaThe13 as N'Mã thẻ 13', cs.NgayHD,
                                                       CONVERT(VARCHAR(20),cs.NgayHD,103) as N'Ngày mua',
                                                       cs.SoHD as N'Số HĐ',
                                                       cs.MaST as N'Mã ST',
                                                       cs.MaQuay as N'Mã quầy',
                                                       cs.TongTienHD as N'Tổng tiền',
                                                       cs.DiemMuaHang as N'Điểm mua hàng',
                                                       cs.DiemThuongTheoHD as N'Điểm thưởng',
                                                       cs.DaVanChuyen as N'Đã tính điểm'
                                              FROM CTPhatSinh10 cs WHERE MaThe13 = '5589232410849')
                                                UNION ALL 
                                            (SELECT cs.MaThe13 as N'Mã thẻ 13', cs.NgayHD,
                                                       CONVERT(VARCHAR(20),cs.NgayHD,103) as N'Ngày mua',
                                                       cs.SoHD as N'Số HĐ',
                                                       cs.MaST as N'Mã ST',
                                                       cs.MaQuay as N'Mã quầy',
                                                       cs.TongTienHD as N'Tổng tiền',
                                                       cs.DiemMuaHang as N'Điểm mua hàng',
                                                       cs.DiemThuongTheoHD as N'Điểm thưởng',
                                                       cs.DaVanChuyen as N'Đã tính điểm'
                                              FROM CTPhatSinh11 cs WHERE MaThe13 = '5589232410849')
                                                UNION ALL 
                                            (SELECT cs.MaThe13 as N'Mã thẻ 13',
                                                    cs.NgayHD,
                                                       CONVERT(VARCHAR(20),cs.NgayHD,103) as N'Ngày mua',
                                                       cs.SoHD as N'Số HĐ',
                                                       cs.MaST as N'Mã ST',
                                                       cs.MaQuay as N'Mã quầy',
                                                       cs.TongTienHD as N'Tổng tiền',
                                                       cs.DiemMuaHang as N'Điểm mua hàng',
                                                       cs.DiemThuongTheoHD as N'Điểm thưởng',
                                                       cs.DaVanChuyen as N'Đã tính điểm'
                                              FROM CTPhatSinh cs WHERE MaThe13 = '5589232410849')) a
                                              order by a.NgayHD desc
