SET TRANSACTION ISOLATION LEVEL READ COMMITTED  SELECT  distinct   i.TX_NO, i.DATE, i.TIME, i.CUSTNUM, i.REGISTER,  i.TYPE, i.SKU_REF, i.SELL_UNIT, i.VALUE, i.QUAN, i.SKU, i.DEPARTMENT, i.SUB_DEPT, 
                      i.CLASSNUM, i.SUB_CLASS,
					case when i.SKU in  (select SKU from SKU_Vendor sv 
left join KhuyenMaiPOS kmp on sv.MaDotKM = kmp.MaDotKhuyenMai
where getdate() between kmp.TuNgay and kmp.DenNgay)  then  (select  Vendor from SKU_Vendor sv
															left join KhuyenMaiPOS kmp on sv.MaDotKM = kmp.MaDotKhuyenMai
																where getdate() between kmp.TuNgay and kmp.DenNgay
																and SKU = i.SKU)
						else i.VENDOR end as VENDOR
					   ,i.TILLID, i.SEQNUM, i.DALAY_DMH,i.DALAY_DT, i.STORE, i.TXDATE
FROM         (SELECT  distinct   TX_NO, DATE, TIME, CUSTNUM, REGISTER,  TYPE, SKU_REF, SELL_UNIT, VALUE, QUAN, SKU, DEPARTMENT, SUB_DEPT, 
                                              CLASSNUM, SUB_CLASS, VENDOR,  TILLID, SEQNUM, DALAY_DMH, DALAY_DT, STORE, TXDATE
                       FROM          dbo.INVTSERV14 WHERE      (DALAY_DMH = 0)) AS i LEFT OUTER JOIN
                          (SELECT  distinct   h.SKU, h.FDate, h.TDate
                            FROM          dbo.CauHinhSKU_LoaiDMH h WHERE (h.HUY = 0) and (h.STORE ='098' or h.STORE ='0000') ) AS cf ON cf.SKU = i.SKU
WHERE     (NOT (i.TXDATE BETWEEN cf.FDate AND cf.TDate)) OR
                      (NOT (cf.SKU IS NOT NULL))
