
INSERT INTO [KHTT_ST].dbo.[TNDSERV14]
			(
			[TX_NO]
           ,[DATE]
           ,[TIME]
           ,[CUSTNUM]
           ,[REGISTER]
           ,[TILLID]
           ,[TYPE]
           ,[TENDER_CODE]
           ,[AMOUNT]
           ,[SEQNUM]
           ,[CHANGEFLAG]
           ,[TRAN_REF]
           ,[BANKCODE]
           ,[STORE]
           ,[DALAY_DT]
           ,[NGAYLAY]
		   )
SELECT cltp.[TX_NO]
      ,cltp.[DATE]
      ,cltp.[TIME]
      ,cltp.[CUSTNUM]
      ,cltp.[REGISTER]
      ,cltp.[TILLID]
      ,cltp.[TYPE]
      ,cltp.[TENDER_CODE]
      ,cltp.[AMOUNT]
      ,cltp.[SEQNUM]
      ,cltp.[CHANGEFLAG]
      ,cltp.[TRAN_REF]
      ,cltp.[BANKCODE]
      ,cltp.[STORE]
      ,0
      ,cltp.[NGAYLAY]
	   from [192.168.1.23].[CF_API].dbo.KHTT_TNDSERV_HCM_2 cltp left join ( select * from [KHTT_ST].dbo.TNDSERV14 where [DATE] >=GETDATE() - 15) clCoop 
on cltp.TX_NO = clCoop.TX_NO and cltp.[DATE] = clCoop.[DATE] and cltp.[TIME] = clCoop.[TIME] and 
cltp.REGISTER = clCoop.REGISTER and cltp.TILLID = clCoop.TILLID and cltp.SEQNUM = clCoop.SEQNUM
where clCoop.[date] is null and clCoop.[TIME] is null and 
								clCoop.REGISTER is null and clCoop.TILLID is null and 
								clCoop.SEQNUM is null 
								and year(cltp.[DATE]) = year(getdate(
