(@p__linq__0 varchar(8000))SELECT TOP (1) 
    [Extent1].[MaThe13] AS [MaThe13], 
    [Extent1].[DoanhSoDauNgay] AS [DoanhSoDauNgay], 
    [Extent1].[DoanhSoTrongNgay] AS [DoanhSoTrongNgay], 
    [Extent1].[DiemMuaHangDauNgay] AS [DiemMuaHangDauNgay], 
    [Extent1].[DiemThuongTheoHDDauNgay] AS [DiemThuongTheoHDDauNgay], 
    [Extent1].[DiemThuongKhongTheoHDDauNgay] AS [DiemThuongKhongTheoHDDauNgay], 
    [Extent1].[TongDiemDauNgay] AS [TongDiemDauNgay], 
    [Extent1].[DiemDaNhanThuongDauNgay] AS [DiemDaNhanThuongDauNgay], 
    [Extent1].[DiemMuaHangTrongNgay] AS [DiemMuaHangTrongNgay], 
    [Extent1].[DiemThuongTheoHDTrongNgay] AS [DiemThuongTheoHDTrongNgay], 
    [Extent1].[DiemThuongKhongTheoHDTrongNgay] AS [DiemThuongKhongTheoHDTrongNgay], 
    [Extent1].[TongDiemTrongNgay] AS [TongDiemTrongNgay], 
    [Extent1].[TongDiemCuoiNgay] AS [TongDiemCuoiNgay], 
    [Extent1].[DiemDaNhanThuong] AS [DiemDaNhanThuong], 
    [Extent1].[Ngay] AS [Ngay], 
    [Extent1].[MaCapDoDauNgay] AS [MaCapDoDauNgay]
    FROM [dbo].[TichLuyTrongNgay] AS [Extent1]
    WHERE ([Extent1].[MaThe13] = @p__linq__0) AND (@p__linq__0 IS NOT NULL)
