select cth.*, ctd.MaCapDo as CapdoDN, ctd.DiemThuongDTL 
	from ( select ct.* from CTPhatSinh ct where ct.mathe13 = '6768525231531' ) cth
	left join 
	(select ctp.MaHD, ctp.MaCapDo, sum (ctp.DiemThuong) as DiemThuongDTL  from  CTPhatSinh_KhuyenMaiPOS ctp
	where ctp.mathe13 = '6768525231531'  group by MaHD ,MaCapDo) ctd on cth.mahd = ctd.mahd 
	union all
	select cth.*, ctd.MaCapDo as CapdoDN, ctd.DiemThuongDTL 
	from ( select ct.* from CTPhatSinh01 ct where ct.mathe13 = '6768525231531' ) cth
	left join 
	(select ctp.MaHD, ctp.MaCapDo, sum (ctp.DiemThuong) as DiemThuongDTL  from  CTPhatSinh_KhuyenMaiPOS01 ctp
	where ctp.mathe13 = '6768525231531'  group by MaHD ,MaCapDo) ctd on cth.mahd = ctd.mahd 
	union all
	select cth.*, ctd.MaCapDo as CapdoDN, ctd.DiemThuongDTL 
	from ( select ct.* from CTPhatSinh02 ct where ct.mathe13 = '6768525231531' ) cth
	left join 
	(select ctp.MaHD, ctp.MaCapDo, sum (ctp.DiemThuong) as DiemThuongDTL  from  CTPhatSinh_KhuyenMaiPOS02 ctp
	where ctp.mathe13 = '6768525231531'  group by MaHD ,MaCapDo) ctd on cth.mahd = ctd.mahd 
	union all
	select cth.*, ctd.MaCapDo as CapdoDN, ctd.DiemThuongDTL 
	from ( select ct.* from CTPhatSinh03 ct where ct.mathe13 = '6768525231531' ) cth
	left join 
	(select ctp.MaHD, ctp.MaCapDo, sum (ctp.DiemThuong) as DiemThuongDTL  from  CTPhatSinh_KhuyenMaiPOS03 ctp
	where ctp.mathe13 = '6768525231531'  group by MaHD ,MaCapDo) ctd on cth.mahd = ctd.mahd 
	union all
	select cth.*, ctd.MaCapDo as CapdoDN, ctd.DiemThuongDTL 
	from ( select ct.* from CTPhatSinh04 ct where ct.mathe13 = '6768525231531' ) cth
	left join 
	(select ctp.MaHD, ctp.MaCapDo, sum (ctp.DiemThuong) as DiemThuongDTL  from  CTPhatSinh_KhuyenMaiPOS04 ctp
	where ctp.mathe13 = '6768525231531'  group by MaHD ,MaCapDo) ctd on cth.mahd = ctd.mahd 	
	union all
	select cth.*, ctd.MaCapDo as CapdoDN, ctd.DiemThuongDTL 
	from ( select ct.* from CTPhatSinh05 ct where ct.mathe13 = '6768525231531' ) cth
	left join 
	(select ctp.MaHD, ctp.MaCapDo, sum (ctp.DiemThuong) as DiemThuongDTL  from  CTPhatSinh_KhuyenMaiPOS05 ctp
	where ctp.mathe13 = '6768525231531'  group by MaHD ,MaCapDo) ctd on cth.mahd = ctd.mahd 
	union all
	select cth.*, ctd.MaCapDo as CapdoDN, ctd.DiemThuongDTL 
	from ( select ct.* from CTPhatSinh06 ct where ct.mathe13 = '6768525231531' ) cth
	left join 
	(select ctp.MaHD, ctp.MaCapDo, sum (ctp.DiemThuong) as DiemThuongDTL  from  CTPhatSinh_KhuyenMaiPOS06 ctp
	where ctp.mathe13 = '6768525231531'  group by MaHD ,MaCapDo) ctd on cth.mahd = ctd.mahd 	
	union all
	select cth.*, ctd.MaCapDo as CapdoDN, ctd.DiemThuongDTL 
	from ( select ct.* from CTPhatSinh07 ct where ct.mathe13 = '6768525231531' ) cth
	left join 
	(select ctp.MaHD, ctp.MaCapDo, sum (ctp.DiemThuong) as DiemThuongDTL  from  CTPhatSinh_KhuyenMaiPOS07 ctp
	where ctp.mathe13 = '6768525231531'  group by MaHD ,MaCapDo) ctd on cth.mahd = ctd.mahd 			
	union all
	select cth.*, ctd.MaCapDo as CapdoDN, ctd.DiemThuongDTL 
	from ( select ct.* from CTPhatSinh08 ct where ct.mathe13 = '6768525231531' ) cth
	left join 
	(select ctp.MaHD, ctp.MaCapDo, sum (ctp.DiemThuong) as DiemThuongDTL  from  CTPhatSinh_KhuyenMaiPOS08 ctp
	where ctp.mathe13 = '6768525231531'  group by MaHD ,MaCapDo) ctd on cth.mahd = ctd.mahd 
	union all
	select cth.*, ctd.MaCapDo as CapdoDN, ctd.DiemThuongDTL 
	from ( select ct.* from CTPhatSinh09 ct where ct.mathe13 = '6768525231531' ) cth
	left join 
	(select ctp.MaHD, ctp.MaCapDo, sum (ctp.DiemThuong) as DiemThuongDTL  from  CTPhatSinh_KhuyenMaiPOS09 ctp
	where ctp.mathe13 = '6768525231531'  group by MaHD ,MaCapDo) ctd on cth.mahd = ctd.mahd 
	union all
	select cth.*, ctd.MaCapDo as CapdoDN, ctd.DiemThuongDTL 
	from ( select ct.* from CTPhatSinh10 ct where ct.mathe13 = '6768525231531' ) cth
	left join 
	(select ctp.MaHD, ctp.MaCapDo, sum (ctp.DiemThuong) as DiemThuongDTL  from  CTPhatSinh_KhuyenMaiPOS10 ctp
	where ctp.mathe13 = '6768525231531'  group by MaHD ,MaCapDo) ctd on cth.mahd = ctd.mahd 
	union all
	select cth.*, ctd.MaCapDo as CapdoDN, ctd.DiemThuongDTL 
	from ( select ct.* from CTPhatSinh11 ct where ct.mathe13 = '6768525231531' ) cth
	left join 
	(select ctp.MaHD, ctp.MaCapDo, sum (ctp.DiemThuong) as DiemThuongDTL  from  CTPhatSinh_KhuyenMaiPOS11 ctp
	where ctp.mathe13 = '6768525231531'  group by MaHD ,MaCapDo) ctd on cth.mahd = ctd.mahd 
	union all
	select cth.*, ctd.MaCapDo as CapdoDN, ctd.DiemThuongDTL 
	from ( select ct.* from CTPhatSinh12 ct where ct.mathe13 = '6768525231531' ) cth
	left join 
	(select ctp.MaHD, ctp.MaCapDo, sum (ctp.DiemThuong) as DiemThuongDTL  from  CTPhatSinh_KhuyenMaiPOS12 ctp
	where ctp.mathe13 = '6768525231531'  group by MaHD ,MaCapDo) ctd on cth.mahd = ctd.mahd 
	 order by NgayHD desc
