select top 1 substring(convert(nvarchar(22),backup_finish_date,102),1,4), substring(convert(nvarchar(22),backup_finish_date,102),6,2), substring(convert(nvarchar(22),backup_finish_date,102),9,2) from msdb..backupset   where database_name = N'model' order by backup_set_id desc
