SET TRANSACTION ISOLATION LEVEL READ Uncommitted 
                                                    SELECT TichLuyTrongNgay.MaThe13,TichLuyTrongNgay.MaCapDoDauNgay
                                                    FROM  The LEFT JOIN  KhachHang      ON   The.MaThe13 = KhachHang.MaThe13
                                                                            LEFT JOIN  TichLuy        ON   TichLuy.MaThe13 = The.MaThe13
                                                                            LEFT JOIN  TichLuyTrongNgay  ON   TichLuyTrongNgay.MaThe13 = The.MaThe13
                                                                            LEFT JOIN  CapDo          ON   CapDo.MaCapDo = TichLuy.MaCapDo
                                                                            LEFT JOIN  ChuongTrinh    ON   ChuongTrinh.MaCT = The.MaCT
                                                     WHERE  The.MaThe7 = '3899186' AND 1=1
