(@1 nvarchar(4000))SELECT [name] [name],databaseproperty([name],N'IsDetached') [IsDetached],case when databaseproperty([name],N'IsShutdown') IS NULL then (-1) else databaseproperty([name],N'IsShutdown') end [IsShutdown],databaseproperty([name],N'IsSuspect') [IsSuspect],databaseproperty([name],N'IsOffline') [IsOffline],databaseproperty([name],N'IsInLoad') [IsInLoad],case when databaseproperty([name],N'IsInRecovery') IS NULL then (-1) else databaseproperty([name],N'IsInRecovery') end [IsInRecovery],case when databaseproperty([name],N'IsNotRecovered') IS NULL then (-1) else databaseproperty([name],N'IsNotRecovered') end [IsNotRecovered],databaseproperty([name],N'IsEmergencyMode') [IsEmergencyMode],databaseproperty([name],N'IsInStandBy') [IsInStandby] FROM [master].[dbo].[sysdatabases] WHERE [name]=@1
