	select @maPin=t.MaPin,@statusPIN=t.statusPIN, @diemconlai= isnull(tl.TongDiem,0) + isnull(ctcn.DiemNamCu,0)  - isnull(tl.DiemThuongDaNhan,0) - isnull(khqt.SoLuongConLai,0)*150 -@diemtru  
				from The t  WITH (nolock) inner join TichLuy tl  WITH (nolock) on t.MaThe13 = tl.MaThe13
				left join ChiThuongCuoiNam ctcn  WITH (nolock) on t.MaThe13 = ctcn.MaThe13 left join KhachHang_QuaTang_CapDo khqt  WITH (nolock)
				on t.MaThe13 = khqt.MaThe13	 where (t.MaThe13=@mathe or t.MaThe7=@math
