SET TRANSACTION ISOLATION LEVEL READ COMMITTED
	select cth.*, ctd.MaCapDo as CapdoDN, ctd.DiemThuongDTL 
	from ( select ct.* from CTPhatSinh ct where ct.mathe13 = '6768525231531' and month(ct.ngayHD) = month(getdate())) cth
	left join 
	(select ctp.MaHD, ctp.MaCapDo, sum (ctp.DiemThuong) as DiemThuongDTL  from  CTPhatSinh_KhuyenMaiPOS ctp
	where ctp.mathe13 = '6768525231531' and month(ctp.ngayHD) = month(getdate()) group by MaHD ,MaCapDo) ctd on cth.mahd = ctd.mahd  order by NgayHD desc
