	UPDATE KhachHang
		SET
			MaThe7 =rtrim(ltrim(@c2)),
			MaNVCap = @c3,
			MaNVCapNhat = @c4,
			NgayCapNhat = @c5,
			HoLot = @c6,
			Ten = @c7,
			NgaySinh = @c8,
			GioiTinh = @c9,
			CMND = @c10,
			MaSoThue = @c11,
			Passport = @c12,
			MaQuocGia = @c13,
			SoNha = @c14,
			TenDuong = @c15,
			MaPhuongXa = @c16,
			MaQuanHuyen = @c17,
			MaTinhTP = @c18,
			DTDD = @c19,
			DTBan = @c20,
			Email = @c21,
			LaDoanhNghiep = @c22,
			MaNgheNghiep = @c23,
			CoNhanChuyenKhoan = @c24,
			SoTaiKhoan = @c25,
			NganHang = @c26,
			DVThuHuong = @c27,
			NhanQCQuaEmail = @c28,
			NhanQCQuaSMS = @c29,
			NhanToRoiQCQuaDiaChi = @c30,
			GhiChu = @c31,
			MaST = @c32,
			DacCach = @c33,
			MaLyDoDacCach = @c34,
			LyDoDacCach = @c35,
			F1 = @c36,
			F2 = @c37,
			F3 = @c38,
			F4 = @c39,
			F5 = @c40,
			[MaThuNhap]=@c41, 	
			[MaLoaiKH]=@c42, 	
			[MaNguonDKyKH]=@c43, 		
			[TTHonNhan]=@c44, 		
			[SoCon]=@c45,
			[LaTVHTX]=@c46, 		
			[NgayDangKyThamGiaHTX]=@c47, 		
			[MaHTX]=@c48, 		
			[SoVonGopBanDau] =@c49
		WHERE MaThe13 = @
