
INSERT INTO [KHTT_ST].dbo.[INVTSERV17]
			(TX_NO 
			,[DATE] 
			,[TIME] 
			,CUSTNUM 
			,REGISTER 
			,[TYPE] 
			,SKU_REF 
			,SELL_UNIT  
			,VALUE 
			,QUAN 
			,SKU 
			,DEPARTMENT 
			,SUB_DEPT 
			,CLASSNUM 
			,SUB_CLASS 
			,VENDOR 
			,TILLID 
			,SEQNUM 
			,DALAY_DMH  
			,DALAY_DT 
			,STORE 
			,NGAYLAY )

SELECT cltp.[TX_NO]
      ,cltp.[DATE]
      ,cltp.[TIME]
       ,case when len(cltp.[CUSTNUM]) >10 then right(left(cltp.custnum,12),10)
	  else cltp.[CUSTNUM] end [CUSTNUM]
      ,cltp.[REGISTER]
      ,cltp.[TYPE]
      ,'00' + cltp.[SKU_REF] as SKU_REF
      ,cltp.[SELL_UNIT]
      ,cltp.[VALUE]
      ,cltp.[QUAN]
      ,'00' + cltp.[SKU] as SKU
      ,cltp.[DEPARTMENT]
      ,cltp.[SUB_DEPT]
      ,cltp.[CLASSNUM]
      ,cltp.[SUB_CLASS]
      ,cltp.[VENDOR]
      ,cltp.[TILLID]
      ,cltp.[SEQNUM]
      ,0
	  ,0
	  --,cltp.[DALAY_DMH]
      --,cltp.[DALAY_DT]
      ,cltp.[STORE]
      ,cltp.[NGAYLAY]
	   from [192.168.1.23].[CF_API].dbo.KHTT_INVTSERV_HCM_5 cltp left join 
	   ( select * from [KHTT_ST].dbo.INVTSERV17 where [DATE] >=GETDATE() - 15) clCoop 
on cltp.TX_NO = clCoop.TX_NO and cltp.[DATE] = clCoop.[DATE] and cltp.[TIME] = clCoop.[TIME] and 
cltp.REGISTER = clCoop.REGISTER and cltp.TILLID = clCoop.TILLID and cltp.SEQNUM = clCoop.SEQNUM
where clCoop.[date] is null and clCoop.[TIME] is null and 
								clCoop.REGISTER is null and clCoop.TILLID is null and 
								clCoop.SEQNUM is null 
								and year(cltp.[DATE]) = year(getdate(
