select * from NhanThuong nt
                                                left join NhanThuong_SieuThi ns on nt.MaDotNhanThuong = ns.MaDotNhanThuong
                                                where MaCT = '00' and DaApDung = 1 and  ns.MaST LIKE  CASE ns.MaST 
                                                WHEN '0000' THEN '%%' ELSE '098' end
