 USE [ReportServer];   select N'ReportServer' as name,DB_id(N'ReportServer') as dbid,t1.object_id,t1.Min_index from ((SELECT st.object_id,st.name, MIN(index_id) as Min_index,si.name as index_name,st.is_filetable   from sys.tables st   ,  sys.indexes si   where si.object_id = st.object_id  group by st.object_id,st.name, st.is_filetable,si.name) t1  left join (SELECT	OBJECT_ID, OBJECT_NAME(OBJECT_ID) As [Table Name],[rows] as [Total Records] FROM sys.partitions   WHERE(OBJECTPROPERTYEX (OBJECT_ID, N'IsUserTable')=1 And OBJECTPROPERTYEX (OBJECT_ID, N'TableIsMemoryOptimized')=0) UNION SELECT st.object_id,st.name, ISNULL([rows],0)  as [Total Records] FROM sys.tables st   , sys.indexes si    CROSS APPLY sys.dm_db_stats_properties(si.object_id,si.index_id) WHERE si.index_id =2 and si.object_id = st.object_id and st.is_memory_optimized =1) t2 on t1.object_id=t2.object_id) where DB_id(N'ReportServer') IN (select db.database_id from sys.databases db   where db.create_date > '2025-12-11 14:10:17.864')
