SET TRANSACTION ISOLATION LEVEL READ COMMITTED  
	SELECT tnd.*, ctps.MaHD
  FROM  (select * from dbo.TNDSERV17  WITH (nolock)  where (DALAY_DT =0 or DALAY_DT is null)) tnd  inner join (select * from CTPhatSinh WITH (nolock)  where convert (date,NgayNhap,23) = convert (date,getdate(),23)) ctps 
  on tnd.STORE = ctps.MaST and tnd.DATE = convert (date,ctps.NgayHD,23) 
  and tnd.REGISTER = ctps.MaQuay and  right('0000000000' + tnd.CUSTNUM,10) = substring(ctps.MaThe13,3,10)
  and cast(tnd.TX_NO as varchar(20)) = ctps.SoHD 
 
