(@0 varchar(20),@1 datetime,@2 decimal(19,2),@3 decimal(19,2),@4 decimal(19,2),@5 decimal(19,2),@6 decimal(19,2),@7 decimal(19,2),@8 bit,@9 bit,@10 bit,@11 bit,@12 datetime,@13 char(13))UPDATE [dbo].[TichLuy]
SET [MaCapDo] = @0, [NgayCapNhatCuoi] = @1, [DoanhSo] = @2, [DiemMuaHang] = @3, [DiemThuongTheoHD] = @4, [DiemThuongKhongTheoHD] = @5, [TongDiem] = @6, [DiemThuongDaNhan] = @7, [DacCach] = @8, [TVCu] = @9, [HuongDacQuyen] = @10, [VIPCu] = @11, [NgayDatCapDo] = @12
WHERE ([MaThe13] = @13)

