	INSERT INTO [dbo].[CTNhanThuongTrongNgay]
						   ([CTNhanThuongID]
						   ,[STT]
						   ,[MaThe13]
						   ,[MaST]
						   ,[MaCapDo]
						   ,[MaHH]
						   ,[MaNV]
						   ,[MaQuay]
						   ,[SoHD]
						   ,[DiemNamCu]
						   ,[DiemHienTai]
						   ,[TongDiemGiaoDich]
						   ,[DiemGiaoDichNamCu]
						   ,[DiemGiaoDichNamNay]
						   ,[NgayNhan]
						   ,[GhiChu]					  
						    ,[MG1]
						   ,[MG2]
						   ,[MG3]
						   ,[MG4]
						   ,[MG5]
						   ,[MG6]
						   ,[DaVanChuyen]
						   ,[NgayVanChuyen]	
						   ,F1				 
						   ,[SoPhieu])
					 VALUES
						   (@CTNhanThuongID
						   ,@SoHD--(select max(STT) +1 from CTNhanThuongTrongNgay where MaST=@MaST) -- anh Hiếu sửa 12/06
						   ,@MaThe13
						   ,@MaST
						   ,@macapdo
						   ,@MaHH
						   ,@MaNV
						   ,@MaQuay
						   ,@SoHD
						   ,@diemnamcu
						   ,@diemconlaihientai
						   ,@DiemQuyDoi
						   ,@diemgiaodichnamcu
						   ,@diemgiaodichnamnay
						   ,@NgayNhan
						   ,@Location+'_'+ CONVERT(varchar(30),@NgayHD,121)
						   ,0
						   ,0
						   ,0
						   ,0					   
						   ,@TienCK
						   ,0
						   ,1
						   ,@NgayNhan
						   ,null
						   ,@MaST+@MaQuay+@SoHD+convert(varchar(20),@NgayNhan,121)+'-'+@MaThe1
