
update [dbo].[The] set
		[MaThe7] = case substring(@bitmap,1,1) & 2 when 2 then @c2 else [MaThe7] end,
		[MaCT] = case substring(@bitmap,1,1) & 4 when 4 then @c3 else [MaCT] end,
		[MaST] = case substring(@bitmap,1,1) & 8 when 8 then @c4 else [MaST] end,
		[NgayCap] = case substring(@bitmap,1,1) & 16 when 16 then @c5 else [NgayCap] end,
		[DaKhoa] = case substring(@bitmap,1,1) & 32 when 32 then @c6 else [DaKhoa] end,
		[KichHoat] = case substring(@bitmap,1,1) & 64 when 64 then @c7 else [KichHoat] end,
		[NgayKhoaThe] = case substring(@bitmap,1,1) & 128 when 128 then @c8 else [NgayKhoaThe] end,
		[LaTheCapLai] = case substring(@bitmap,2,1) & 1 when 1 then @c9 else [LaTheCapLai] end,
		[MaTheCu] = case substring(@bitmap,2,1) & 2 when 2 then @c10 else [MaTheCu] end,
		[MaLyDo] = case substring(@bitmap,2,1) & 4 when 4 then @c11 else [MaLyDo] end,
		[LyDo] = case substring(@bitmap,2,1) & 8 when 8 then @c12 else [LyDo] end,
		[NgayMoKhoa] = case substring(@bitmap,2,1) & 16 when 16 then @c13 else [NgayMoKhoa] end,
		[MaLyDoMoKhoa] = case substring(@bitmap,2,1) & 32 when 32 then @c14 else [MaLyDoMoKhoa] end,
		[LyDoMoKhoa] = case substring(@bitmap,2,1) & 64 when 64 then @c15 else [LyDoMoKhoa] end,
		[MaPIN] = case substring(@bitmap,2,1) & 128 when 128 then @c16 else [MaPIN] end,
		[StatusPIN] = case substring(@bitmap,3,1) & 1 when 1 then @c17 else [StatusPIN] end,
		[F1] = case substring(@bitmap,3,1) & 2 when 2 then @c18 else [F1] end,
		[F2] = case substring(@bitmap,3,1) & 4 when 4 then @c19 else [F2] end,
		[F3] = case substring(@bitmap,3,1) & 8 when 8 then @c20 else [F3] end,
		[F4] = case substring(@bitmap,3,1) & 16 when 16 then @c21 else [F4] end,
		[F5] = case substring(@bitmap,3,1) & 32 when 32 then @c22 else [F5] end
	where [MaThe13] = @pk
