 update [dbo].[KhachHang] set     [MaThe7] = case substring(@bitmap,1,1) & 2 when 2 then @c2 else [MaThe7] end,     [MaNVCap] = case substring(@bitmap,1,1) & 4 when 4 then @c3 else [MaNVCap] end,     [MaNVCapNhat] = case substring(@bitmap,1,1) & 8 when 8 then @c4 else [MaNVCapNhat] end,     [NgayCapNhat] = case substring(@bitmap,1,1) & 16 when 16 then @c5 else [NgayCapNhat] end,     [HoLot] = case substring(@bitmap,1,1) & 32 when 32 then @c6 else [HoLot] end,     [Ten] = case substring(@bitmap,1,1) & 64 when 64 then @c7 else [Ten] end,     [NgaySinh] = case substring(@bitmap,1,1) & 128 when 128 then @c8 else [NgaySinh] end,     [GioiTinh] = case substring(@bitmap,2,1) & 1 when 1 then @c9 else [GioiTinh] end,     [CMND] = case substring(@bitmap,2,1) & 2 when 2 then @c10 else [CMND] end,     [MaSoThue] = case substring(@bitmap,2,1) & 4 when 4 then @c11 else [MaSoThue] end,     [Passport] = case substring(@bitmap,2,1) & 8 when 8 then @c12 else [Passport] end,     [MaQuocGia] = case substring(@bitmap,2,1) & 16 when 16 then @c13 else [MaQuocGia] end,     [SoNha] = case substring(@bitmap,2,1) & 32 when 32 then @c14 else [SoNha] end,     [TenDuong] = case substring(@bitmap,2,1) & 64 when 64 then @c15 else [TenDuong] end,     [MaPhuongXa] = case substring(@bitmap,2,1) & 128 when 128 then @c16 else [MaPhuongXa] end,     [MaQuanHuyen] = case substring(@bitmap,3,1) & 1 when 1 then @c17 else [MaQuanHuyen] end,     [MaTinhTP] = case substring(@bitmap,3,1) & 2 when 2 then @c18 else [MaTinhTP] end,     [DTDD] = case substring(@bitmap,3,1) & 4 when 4 then @c19 else [DTDD] end,     [DTBan] = case substring(@bitmap,3,1) & 8 when 8 then @c20 else [DTBan] end,     [Email] = case substring(@bitmap,3,1) & 16 when 16 then @c21 else [Email] end,     [LaDoanhNghiep] = case substring(@bitmap,3,1) & 32 when 32 then @c22 else [LaDoanhNghiep] end,     [MaNgheNghiep] = case substring(@bitmap,3,1) & 64 when 64 then @c23 else [MaNgheNghiep] end,     [CoNhanChuyenKhoan] = case substring(@bitmap,3,1) & 128 when 128 then @c24 else [CoNhanChuyenKhoan] end,     [SoTaiKhoan] = case substring(@bitmap,4,1) & 1 when 1 then @c25 else [SoTaiKhoan] end,     [NganHang] = case substring(@bitmap,4,1) & 2 when 2 then @c26 else [NganHang] end,     [DVThuHuong] = case substring(@bitmap,4,1) & 4 when 4 then @c27 else [DVThuHuong] end,     [NhanQCQuaEmail] = case substring(@bitmap,4,1) & 8 when 8 then @c28 else [NhanQCQuaEmail] end,     [NhanQCQuaSMS] = case substring(@bitmap,4,1) & 16 when 16 then @c29 else [NhanQCQuaSMS] end,     [NhanToRoiQCQuaDiaChi] = case substring(@bitmap,4,1) & 32 when 32 then @c30 else [NhanToRoiQCQuaDiaChi] end,     [GhiChu] = case substring(@bitmap,4,1) & 64 when 64 then @c31 else [GhiChu] end,     [MaST] = case substring(@bitmap,4,1) & 128 when 128 then @c32 else [MaST] end,     [DacCach] = case substring(@bitmap,5,1) & 1 when 1 then @c33 else [DacCach] end,     [MaLyDoDacCach] = case substring(@bitmap,5,1) & 2 when 2 then @c34 else [MaLyDoDacCach] end,     [LyDoDacCach] = case substring(@bitmap,5,1) & 4 when 4 then @c35 else [LyDoDacCach] end,     [F1] = case substring(@bitmap,5,1) & 8 when 8 then @c36 else [F1] end,     [F2] = case substring(@bitmap,5,1) & 16 when 16 then @c37 else [F2] end,     [F3] = case substring(@bitmap,5,1) & 32 when 32 then @c38 else [F3] end,     [F4] = case substring(@bitmap,5,1) & 64 when 64 then @c39 else [F4] end,     [F5] = case substring(@bitmap,5,1) & 128 when 128 then @c40 else [F5] end,     [MaThuNhap] = case substring(@bitmap,6,1) & 1 when 1 then @c41 else [MaThuNhap] end,     [MaLoaiKH] = case substring(@bitmap,6,1) & 2 when 2 then @c42 else [MaLoaiKH] end,     [MaNguonDKyKH] = case substring(@bitmap,6,1) & 4 when 4 then @c43 else [MaNguonDKyKH] end,     [TTHonNhan] = case substring(@bitmap,6,1) & 8 when 8 then @c44 else [TTHonNhan] end,     [SoCon] = case substring(@bitmap,6,1) & 16 when 16 then @c45 else [SoCon] end,     [LaTVHTX] = case substring(@bitmap,6,1) & 32 when 32 then @c46 else [LaTVHTX] end,     [NgayDangKyThamGiaHTX] = case substring(@bitmap,6,1) & 64 when 64 then @c47 else [NgayDangKyThamGiaHTX] end,     [MaHTX] = case substring(@bitmap,6,1) & 128 when 128 then @c48 else [MaHTX] end,     [SoVonGopBanDau] = case substring(@bitmap,7,1) & 1 when 1 then @c49 else [SoVonGopBanDau] end
	where [MaThe13] = @pk
