Select TOP 1 resource_associated_entity_id,name from sys.sysdatabases   ,sys.dm_tran_locks   where resource_database_id=dbid and resource_associated_entity_id >0 GROUP BY resource_associated_entity_id,name ORDER BY COUNT(*) DESC;
