(@Date datetime)UPDATE CTPhatSinh
                                                SET    NgayVanChuyen = @Date,DaVanCHuyen = 1
                                                WHERE  NgayVanChuyen = @Date
                                                       AND DaVanChuyen = 0
