(@0 decimal(19,2),@1 decimal(19,2),@2 decimal(19,2),@3 decimal(19,2),@4 decimal(19,2),@5 decimal(19,2),@6 decimal(19,2),@7 decimal(19,2),@8 decimal(19,2),@9 decimal(19,2),@10 decimal(19,2),@11 decimal(19,2),@12 decimal(19,2),@13 datetime,@14 varchar(20),@15 char(13))UPDATE [dbo].[TichLuyTrongNgay]
SET [DoanhSoDauNgay] = @0, [DoanhSoTrongNgay] = @1, [DiemMuaHangDauNgay] = @2, [DiemThuongTheoHDDauNgay] = @3, [DiemThuongKhongTheoHDDauNgay] = @4, [TongDiemDauNgay] = @5, [DiemDaNhanThuongDauNgay] = @6, [DiemMuaHangTrongNgay] = @7, [DiemThuongTheoHDTrongNgay] = @8, [DiemThuongKhongTheoHDTrongNgay] = @9, [TongDiemTrongNgay] = @10, [TongDiemCuoiNgay] = @11, [DiemDaNhanThuong] = @12, [Ngay] = @13, [MaCapDoDauNgay] = @14
WHERE ([MaThe13] = @15)

