	SELECT @TongSoDiemTruDauNgay = ISNULL(SUM(ctnt.SoDiemTru),0.0) 

	FROM KhachHang_QuaTang_CapDo khqtcd 	  
	LEFT JOIN CTNhanThuong ctnt 
	ON khqtcd.MaThe13 = ctnt.MaThe13
	AND khqtcd.MaHH = ctnt.MaHH
	  
	WHERE DATEDIFF(day, ctnt.NgayNhan, GETDATE()) > 0    
	AND khqtcd.MaThe13 = '' + @Mathe + 
