use [SGCReport_2016_2021]; begin SELECT  DB_ID() as DB_ID , DB_NAME() as DB_Name, o.name as Table_Name, i.[object_id] 'Table ID', i.[index_id] 'Index ID' , i.name as Index_Name FROM [SGCReport_2016_2021].sys.indexes i   , [SGCReport_2016_2021].sys.objects o   WHERE i.[object_id]=o.[object_id] 	AND o.type='U'end
