use [KHTT_ST24]; begin SELECT  DB_ID() as DB_ID , DB_NAME() as DB_Name, o.name as Table_Name, i.[object_id] 'Table ID', i.[index_id] 'Index ID' , i.name as Index_Name FROM [KHTT_ST24].sys.indexes i   , [KHTT_ST24].sys.objects o   WHERE i.[object_id]=o.[object_id] 	AND o.type='U'end
