
Create PROC [dbo].[sp_GET_CUSTOMER_ACCUMULATION_AT_SUPERMARKET] 		
		@Mathe varchar(50)
   with execute as Owner
AS
BEGIN
	
	DECLARE @sqlString nvarchar(4000), @where nvarchar(4000), 
			@TongSoDiemTruDauNgay numeric(19,2), @TongSoDiemTru numeric(19,2),
			@strTblName1 nvarchar(50), @strTblName2 nvarchar(50)
			
			
		
	SET @where = ' WHERE 1 = 1 '	
	
	SET @where = @where + ' AND tltn.MaThe13 = ''' + @Mathe + ''''	
	
	
	
	----------------------  GET Tong So Diem Tru Dau Ngay   -----------------------------------------------
					
	SELECT @TongSoDiemTruDauNgay = ISNULL(SUM(ctnt.SoDiemTru),0.0) 

	FROM KhachHang_QuaTang_CapDo khqtcd 	  
	LEFT JOIN CTNhanThuong ctnt 
	ON khqtcd.MaThe13 = ctnt.MaThe13
	AND khqtcd.MaHH = ctnt.MaHH
	  
	WHERE DATEDIFF(day, ctnt.NgayNhan, GETDATE()) > 0    
	AND khqtcd.MaThe13 = '' + @Mathe + '' 
	
		
	----------------------  GET Tong So Diem Tru Trong Ngay    -----------------------------------------------
				
	SELECT @TongSoDiemTru = ISNULL(SUM(ctnt.SoDiemTru),0.0) 

	FROM KhachHang_QuaTang_CapDo khqtcd 	  
	LEFT JOIN CTNhanThuong ctnt 
	ON khqtcd.MaThe13 = ctnt.MaThe13
	AND khqtcd.MaHH = ctnt.MaHH
	  
	WHERE DATEDIFF(day, ctnt.NgayNhan, GETDATE()) = 0    
	AND khqtcd.MaThe13 = '' + @Mathe + '' 
		
	
	----------------------------------------------------------------------------------------------
	
	-- Create temp Table Name 1
	set @strTblName1 = REPLACE(NEWID(), '-', '')
	
	
	SET @sqlString = ' SET TRANSACTION ISOLATION LEVEL READ COMMITTED 
							SELECT tltn.MaThe13,
		
		
								 ISNULL(
								 	(
								 	CASE 
										 WHEN tl.TVCu = 0 AND tl.VIPCu = 0 AND tl.MaCapDo <> ''KH'' THEN
										 	
									 		CASE WHEN (tltn.DiemMuaHangDauNgay - (khqtcd.SoLuongToiDa * qt.SoDiem)) >= 0 
									 			THEN   (tltn.DiemMuaHangDauNgay - (khqtcd.SoLuongToiDa * qt.SoDiem))
									 		ELSE tltn.DiemMuaHangDauNgay  
									 		END       
										 		
										 ELSE tltn.DiemMuaHangDauNgay 
								 	END
								 	
								 	), 0) as DiemMuaHangDauNgay,								 	
								 	
								 	
								(
									CASE 
										 WHEN tl.TVCu = 0 AND tl.VIPCu = 0 AND tl.MaCapDo <> ''KH'' THEN
										 	
									 		CASE WHEN (tltn.DiemMuaHangDauNgay + tltn.DiemThuongTheoHDDauNgay + tltn.DiemThuongKhongTheoHDDauNgay 
														- (tltn.DiemDaNhanThuongDauNgay - ' + CAST(@TongSoDiemTruDauNgay AS nvarchar(20)) + ' )  - (khqtcd.SoLuongToiDa * qt.SoDiem)) >= 0
									 			THEN   
									 				(tltn.DiemMuaHangDauNgay + tltn.DiemThuongTheoHDDauNgay + tltn.DiemThuongKhongTheoHDDauNgay 
													- (tltn.DiemDaNhanThuongDauNgay - ' + CAST(@TongSoDiemTruDauNgay AS nvarchar(20)) + ' )  - (khqtcd.SoLuongToiDa * qt.SoDiem))
									 		ELSE 
									 			(tltn.DiemMuaHangDauNgay + tltn.DiemThuongTheoHDDauNgay + tltn.DiemThuongKhongTheoHDDauNgay 
														 - (tltn.DiemDaNhanThuongDauNgay - ' + CAST(@TongSoDiemTruDauNgay AS nvarchar(20)) + ' ))  
									 		END       
										 		
										 ELSE 
										 	(tltn.DiemMuaHangDauNgay + tltn.DiemThuongTheoHDDauNgay + tltn.DiemThuongKhongTheoHDDauNgay 
														 - (tltn.DiemDaNhanThuongDauNgay - ' + CAST(@TongSoDiemTruDauNgay AS nvarchar(20)) + ' ))
									END
								) AS DiemConLaiDauNgay,	 	
								
								
								khqtcd.SoLuongDaNhan as SoPhieuQTDaNhan, tl.macapdo , tl.TVCu, GETDATE() date							 	
								
						INTO ##' + @strTblName1 +  ' 	
								
	                    FROM TichLuy tl
						
						LEFT JOIN TichLuyTrongNgay tltn						
						ON tl.MaThe13 = tltn.MaThe13 
						
						LEFT JOIN KhachHang_QuaTang_CapDo khqtcd 
						ON tltn.MaThe13 = khqtcd.MaThe13						
							
						LEFT JOIN QuaTang qt 
						ON khqtcd.MaHH = qt.MaHH  
						
						 		 	
						 ' + @where
	--PRINT @sqlString					
	EXEC(@sqlString)
	
	----------------------------------------------------------------------------------------------
	-- Create temp Table Name 2
	set @strTblName2 = REPLACE(NEWID(), '-', '')

	SET @sqlString = ' SET TRANSACTION ISOLATION LEVEL READ COMMITTED 
						SELECT	top 50 tltn.MaThe13,								
								ISNULL(tltn.Ngay, ''1900/01/02'') as Ngay,
																 								
								
								tltn.DiemThuongTheoHDDauNgay + tltn.DiemThuongKhongTheoHDDauNgay AS DiemThuongDauNgay,
								(tltn.DiemDaNhanThuongDauNgay - ' + CAST(@TongSoDiemTruDauNgay AS nvarchar(20)) + ') as DiemDaSuDungDauNgay,
								
								

								(tltn.DiemMuaHangTrongNgay) AS DiemMuaHangTrongNgay,
								(tltn.DiemThuongTheoHDTrongNgay + tltn.DiemThuongKhongTheoHDTrongNgay) AS DiemThuongTrongNgay,								
								(tltn.DiemDaNhanThuong - tltn.DiemDaNhanThuongDauNgay - ' + CAST(@TongSoDiemTru AS nvarchar(20)) + ') as DiemDaSuDungTrongNgay,
								(tltn.DiemMuaHangTrongNgay + tltn.DiemThuongTheoHDTrongNgay + tltn.DiemThuongKhongTheoHDTrongNgay
								- (tltn.DiemDaNhanThuong - tltn.DiemDaNhanThuongDauNgay - ' + CAST(@TongSoDiemTru AS nvarchar(20)) + ')) AS DiemConLaiTrongNgay
								
						INTO ##' + @strTblName2 + '					
	
						FROM TichLuyTrongNgay tltn									
						 ' + @where

	EXEC(@sqlString)
	
	----------------------------------------------------------------------------------------------
	DECLARE @DiemNamCu NUMERIC(19,2)
	SELECT @DiemNamCu = isnull(ctcn.DiemNamCu,0) FROM ChiThuongCuoiNam ctcn 
	WHERE ctcn.MaThe13= @Mathe 

	
	
	SET @sqlString = ' SELECT tbl2.MaThe13, tbl2.Ngay, 
							  tbl1.DiemMuaHangDauNgay, tbl2.DiemThuongDauNgay, tbl2.DiemDaSuDungDauNgay, tbl1.DiemConLaiDauNgay,							  
							  tbl2.DiemMuaHangTrongNgay, tbl2.DiemThuongTrongNgay, tbl2.DiemDaSuDungTrongNgay, tbl2.DiemConLaiTrongNgay,
							  tbl1.SoPhieuQTDaNhan, ' + CAST(isnull(@DiemNamCu,0) AS VARCHAR(50)) + ' as DiemNamTruoc , tbl1.macapdo , tbl1.TVCu, tbl1.date		
	
	                   FROM ##' + @strTblName1  +' tbl1
	                   INNER JOIN ##' + @strTblName2 + ' tbl2
	                   ON tbl1.MaThe13 = tbl2.MaThe13	                   
	                   '
	--PRINT @sqlString
	EXEC(@sqlString)
	
	------------------------------------------------------------------------------------------------
	
	SET @sqlString =	'IF OBJECT_ID(''tempdb..##' + @strTblName1 + ''') IS NOT NULL
							DROP TABLE ##' + @strTblName1 + '
						IF OBJECT_ID(''tempdb..##' + @strTblName2 + ''') IS NOT NULL
							DROP TABLE ##' + @strTblName2 + ''
				
	EXEC(@sqlString)		
						
END


