(@p__linq__0 varchar(8000))SELECT TOP (1) 
    [Extent1].[MaThe13] AS [MaThe13], 
    [Extent1].[MaCapDo] AS [MaCapDo], 
    [Extent1].[NgayCapNhatCuoi] AS [NgayCapNhatCuoi], 
    [Extent1].[DoanhSo] AS [DoanhSo], 
    [Extent1].[DiemMuaHang] AS [DiemMuaHang], 
    [Extent1].[DiemThuongTheoHD] AS [DiemThuongTheoHD], 
    [Extent1].[DiemThuongKhongTheoHD] AS [DiemThuongKhongTheoHD], 
    [Extent1].[TongDiem] AS [TongDiem], 
    [Extent1].[DiemThuongDaNhan] AS [DiemThuongDaNhan], 
    [Extent1].[DacCach] AS [DacCach], 
    [Extent1].[TVCu] AS [TVCu], 
    [Extent1].[HuongDacQuyen] AS [HuongDacQuyen], 
    [Extent1].[VIPCu] AS [VIPCu], 
    [Extent1].[NgayDatCapDo] AS [NgayDatCapDo]
    FROM [dbo].[TichLuy] AS [Extent1]
    WHERE ([Extent1].[MaThe13] = @p__linq__0) AND (@p__linq__0 IS NOT NULL)
