(@NgaySinhTu datetime,@NgaySinhDen datetime,@TuNgay datetime,@DenNgay datetime)SELECT *
                                        FROM   KhachHang kh
                                        WHERE  kh.PassPort = 'PK 122655'
                                               AND kh.MaThe13 != '0998534001597'
                                               AND kh.maThe13 != ''
